.header-container {
    background: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.links-container {
    display: flex;
    justify-content: end;

}

.buttons-link {
    margin: 0 10px;
}